<!DOCTYPE html>
<html>
{% extends "templates/base.html" %}
    {% block head %}
        {{ super() }}
    {% endblock %}
        {% block header %}
            {{ super() }}
        {% endblock %}
        {% block main %}
        <main>
            <div class="ui large warning message" style="margin-bottom: 135px !important;">
              <div class="header">
                  <i class="warning icon"></i>
                    A documentação ainda está sendo traduzida para o português.
              </div>
              Você pode acessa a documentação em ingles no link:
                <a href="http://www.pygame.org/docs/">http://www.pygame.org/docs/</a>
            </div>
        </main>
        {% endblock %}
    </body>
</html>




