<!DOCTYPE html>
<html>
{% extends "templates/base.html" %}
    {% block head %}
        {{ super() }}
    {% endblock %}
    <body>
        {% block header %}
            {{ super() }}
        {% endblock %}
        {% block main %}
        <main>
            <div class="ui large warning message" style="margin-bottom: 150px !important;">
              <div class="header">
                  <i class="warning icon"></i>
                    Os projetos serão cadastrados aqui.
              </div>
            </div>
        </main>
        {% endblock %}
    </body>
</html>
